---
# tasks file for selinux
- name: Include assert.yml
  ansible.builtin.include_tasks: assert.yml
  run_once: yes

#- ansible.builtin.debug: var=selinux_requirements

- name: Install required packages
  become: yes
  ansible.builtin.package:
    name: "{{ selinux_requirements }}"
    state: present
    update_cache: yes

- name: Manage selinux
  become: yes
  ansible.posix.selinux:
    state: "{{ selinux_state }}"
    policy: "{{ selinux_policy }}"
  notify:
    - Reboot
  when:
    - ansible_selinux.status is defined
    - ansible_connection != "docker"
